<!DOCTYPE html>

<html lang="zxx">
<head>
  
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tuime - Animal Food Website Template">
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive">
    <meta name="author" content="hastech">
    <link href="~/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/static/css/style.css" rel="stylesheet" />


    <link href="~/static/css/swiper.min.css" rel="stylesheet" />
    <link href="~/static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/static/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <link href="~/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/static/css/fancybox.min.css" rel="stylesheet" />
    <link href="~/static/css/css2.css" rel="stylesheet" />
    <script type="text/javascript">
    function indexout() {

        if (confirm('您确定要退出账户吗？退出账户将返回首页')) { location.href = "/Menu/indexout/"; } else { alert("您取消了退出"); }

    }
     function login() {

            if (@ViewData["biaoshi"] == 0) { location.href = "/Menu/CY/"; } else { alert("请先退出当前帐号！");  }
        }
    </script>
</head>

<body>
    <div>
        @RenderBody()
        <div class="wrapper">



            <!--== Start Preloader Content ==-->
            <div class="preloader-wrap">
                <div class="preloader">
                    <div class="dog-head"></div>
                    <div class="dog-body"></div>
                </div>
            </div>
            <!--== End Preloader Content ==-->


            <header class="header-area transparent" style="background-image: url(/assets/img/photos/header-bg.png)">
                <div class="container">
                    <div class="row no-gutter align-items-center position-relative">
                        <div class="col-12">
                            <div class="header-align">
                                <div class="header-align-start">
                                    <div class="header-logo-area">
                                        <a href="Index">
                                            <img src="~/static/picture/logo-light.png" class="logo-main" width="158" height="36" alt="Logo" />

                                        </a>
                                    </div>
                                </div>
                                <div class="header-align-center">
                                    <div class="header-navigation-area position-relative">
                                        <ul class="main-menu nav">
                                            <li class="has-submenu">
                                                <a href="/Menu/Index"><span>首页</span></a>
                                                <ul class="submenu-nav">
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html"><span>关于</span></a></li>
                                            <li class="has-submenu position-static">
                                                <a href="#/"><span>商店</span></a>
                                                <ul class="submenu-nav submenu-nav-mega column-3">
                                                    <li class="mega-menu-item">
                                                        <a href="#/" class="mega-title"><span>狗粮</span></a>
                                                        <ul>
                                                            <li><a href="shop-three-columns.html"><span>狗粮</span></a></li>
                                                            <li><a href="shop-four-columns.html"><span>狗粮</span></a></li>
                                                            <li><a href="shop-left-sidebar.html"><span>狗粮</span></a></li>
                                                            <li><a href="shop.html"><span>狗粮</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#/" class="mega-title"><span>猫粮</span></a>
                                                        <ul>
                                                            <li><a href="single-normal-product.html"><span>猫粮l</span></a></li>
                                                            <li><a href="single-product.html"><span>猫粮</span></a></li>
                                                            <li><a href="single-group-product.html"><span>猫粮</span></a></li>
                                                            <li><a href="single-affiliate-product.html"><span>猫粮</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#/" class="mega-title"><span>更多</span></a>
                                                        <ul>
                                                            <li><a href="Shopcart"><span>我的购物车</span></a></li>
                                                            <li><a href="shop-checkout.html"><span>去结算</span></a></li>
                                                            <li><a href="shop-wishlist.html"><span>喜欢</span></a></li>
                                                            <li><a href="shop-compare.html"><span>更多</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-submenu">
                                                <a href="#/"><span>Blog</span></a>
                                                <ul class="submenu-nav submenu-nav-mega">
                                                    <li class="mega-menu-item">
                                                        <a href="#/" class="mega-title">Blog Layout</a>
                                                        <ul>
                                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                                            <li><a href="blog.html">Blog Left Sidebar</a></li>
                                                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#/" class="mega-title">Single Blog</a>
                                                        <ul>
                                                            <li><a href="blog-details-no-sidebar.html">Blog Details</a></li>
                                                            <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                                                            <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-submenu">
                                                <a href="#/"><span>其他</span></a>
                                                <ul class="submenu-nav">
                                                    <li><a href="account.html"><span>后台</span></a></li>
                                                    <li><a href="#" onclick="login()"><span>登录</span></a></li>
                                                    <li><a href="#" onclick="location.href='Zc'"><span>注册</span></a></li>
                                                    <li><a href="page-not-found.html"><span>暂未开放d</span></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html"><span>联系我们</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-align-end">
                                    <div class="header-action-area">
                                        <div class="shopping-search">
                                            <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasSearch" aria-controls="AsideOffcanvasSearch"><i class="pe-7s-search icon"></i></button>
                                        </div>
                                        <div class="shopping-account">
                                            <a class="shopping-account-btn" href="#" onclick="login()">
                                                <i class="pe-7s-users icon"></i>
                                            </a>
                                        </div>
                                        <div class="shopping-wishlist">
                                            <a class="shopping-wishlist-btn" href="Shopcart">
                                                <i class="pe-7s-like icon"></i>
                                            </a>
                                        </div>
                                        <div class="shopping-cart">
                                            <button class="shopping-cart-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasCart" aria-controls="AsideOffcanvasCart">
                                                <i class="pe-7s-shopbag icon"></i>
                                                @{
                                                    if ((int)@ViewData["biaoshi"] != 0)
                                                    { <sup class="shop-count">@ViewData["sl"]</sup> }
                                                }


                                            </button>
                                        </div>
                                        &nbsp;   &nbsp;   &nbsp;   &nbsp;
                                        @{ if ((int)@ViewData["biaoshi"] != 0)
                                            { <div style="color:white">欢迎您：@ViewData["username"]</div>
                                        }
                                        }

                                        &nbsp;   &nbsp;   &nbsp;   &nbsp;
                                        @{

                                            if ((int)@ViewData["biaoshi"] != 0)
                                            {
                                                <input id="Button1" type="button" value="退出登录" class="btn btn-danger" onclick="indexout()" />
                                            }


                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>




            <!--== Start Product Quick Add Cart Modal ==-->
            <aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="product-action-view-content">
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <i class="pe-7s-close"></i>
                                </button>
                                <div class="modal-action-messages">
                                    <i class="pe-7s-check"></i>  Added to cart successfully!
                                </div>
                                <div class="modal-action-product">
                                    <div class="thumb">
                                        <img src="~/static/picture/modal1.png" alt="Organic Food Juice" width="466" height="320">
                                    </div>
                                    <h4 class="product-name"><a href="single-product.html">Joust Duffle Bag</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!--== End Product Quick Add Cart Modal ==-->
            <!--== Start Product Quick View Modal ==-->
            <aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="product-quick-view-content">
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <span class="pe-7s-close"></span>
                                </button>
                                <div class="container pt--0 pb--0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!--== Start Product Thumbnail Area ==-->
                                            <div class="product-single-thumb">
                                                <img src="~/static/picture/quick-view1.png" width="544" height="560" alt="Image-HasTech">
                                            </div>
                                            <!--== End Product Thumbnail Area ==-->
                                        </div>
                                        <div class="col-lg-6">
                                            <!--== Start Product Info Area ==-->
                                            <div class="product-single-info">
                                                <h3 class="main-title">Joust Duffle Bag</h3>
                                                <div class="prices">
                                                    <span class="price">$20.19</span>
                                                </div>
                                                <div class="rating-box-wrap">
                                                    <div class="rating-box">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="review-status">
                                                        <a href="javascript:void(0)">(5 Customer Review)</a>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nol exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                                                <div class="product-single-meta">
                                                    <ul>
                                                        <li><span>SKU:</span> Ch-256xl</li>
                                                        <li>
                                                            <span>Categories:</span>
                                                            <a href="shop.html">Pet Food. eCommerce</a>
                                                        </li>
                                                        <li>
                                                            <span>Tags:</span>
                                                            <a href="shop.html">Petfood. Pet</a>,
                                                            <a href="shop.html">Animal.</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-quick-action">
                                                    <div class="qty-wrap">
                                                        <div class="pro-qty">
                                                            <input type="text" title="Quantity" value="01">
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                                        Add To Cart
                                                    </button>
                                                    <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                                        <i class="pe-7s-like"></i>
                                                    </button>
                                                    <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                        <i class="pe-7s-look"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--== End Product Info Area ==-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!--== End Product Quick View Modal ==-->
          
            <!--== Start Aside Search Form ==-->
            <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="pe-7s-close"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="container pt--0 pb--0">
                        <div class="search-box-form-wrap">
                            <div class="search-note">
                                <p>想要为您的哪个宠物购买食品？</p>
                            </div>
                            <form action="#" method="post">
                                <div class="search-form position-relative">
                                    <label for="search-input" class="visually-hidden">Search</label>
                                    <input id="search-input" type="search" class="form-control" placeholder="搜索所有商品…">
                                    <button class="search-button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </aside>
            <!--== End Aside Search Form ==-->

        
            <div>
                <div>1</div>
                <div>1</div>
                <div>1</div>
                @RenderSection("di", false)
            </div>
            <!--== Start Footer Area Wrapper ==-->
            <footer class="footer-area">





                <!--== Start Footer Main ==-->
                <div class="footer-main">
                    <div class="container pt--0 pb--0">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item widget-about">
                                    <h4 class="widget-title">About Us</h4>
                                    <p class="desc">Lorem ipsum dolor sit amet, consectel adipisicing elit, sed do eiusmod temp incidid ut labore et dolo</p>
                                    <div class="social-icons">
                                        <a href="javascript:;" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                                        <a href="javascript:;" target="_blank" rel="noopener"><i class="fa fa-dribbble"></i></a>
                                        <a href="javascript:;" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
                                        <a href="javascript:;" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item nav-menu-item1">
                                    <h4 class="widget-title">Information</h4>
                                    <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Information</h4>
                                    <div id="widgetId-1" class="collapse widget-collapse-body">
                                        <div class="collapse-body">
                                            <div class="widget-menu-wrap">
                                                <ul class="nav-menu">
                                                    <li><a href="about-us.html">About Us</a></li>
                                                    <li><a href="account-login.html">Delivery Information</a></li>
                                                    <li><a href="account-login.html">Privacy Policy</a></li>
                                                    <li><a href="account-login.html">Terms & Conditions</a></li>
                                                    <li><a href="contact.html">Contact Us</a></li>
                                                    <li><a href="account-login.html">Loag In Info</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item nav-menu-item2">
                                    <h4 class="widget-title">Our Policy</h4>
                                    <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Our Policy</h4>
                                    <div id="widgetId-2" class="collapse widget-collapse-body">
                                        <div class="collapse-body">
                                            <div class="widget-menu-wrap">
                                                <ul class="nav-menu">
                                                    <li><a href="account-login.html">Gallery</a></li>
                                                    <li><a href="shop.html">Brands</a></li>
                                                    <li><a href="account-login.html">Gift Certificates</a></li>
                                                    <li><a href="shop.html">Specials</a></li>
                                                    <li><a href="account.html">My Account Us</a></li>
                                                    <li><a href="about-us.html">About Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-item">
                                    <h4 class="widget-title">Contact Info:</h4>
                                    <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Contact Info:</h4>
                                    <div id="widgetId-3" class="collapse widget-collapse-body">
                                        <div class="collapse-body">
                                            <div class="widget-contact-info">
                                                <p class="contact-info-desc">If you have any question.please contact us at <a href="mailto://demo@example.com">demo@example.com</a></p>
                                                <div class="contact-item">
                                                    <div class="icon">
                                                        <i class="pe-7s-map-marker"></i>
                                                    </div>
                                                    <div class="info">
                                                        <p>Your address goes here. <br>123, Address.</p>
                                                    </div>
                                                </div>
                                                <div class="contact-item phone-info">
                                                    <div class="icon">
                                                        <i class="pe-7s-phone"></i>
                                                    </div>
                                                    <div class="info">
                                                        <p><span>Have any Question</span> <br><a href="tel://0123456789">+0 123 456 789</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Footer Main ==-->
                <!--== Start Footer Bottom ==-->
                <div class="footer-bottom">
                    <div class="container pt--0 pb--0">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer-bottom-content">
                                    <p class="copyright">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                                    <div class="payment">
                                        <a href="account.html"><img src="~/static/picture/payment.png" width="192" height="21" alt="Payment Logo"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Footer Bottom ==-->
            </footer>
        </div>


        <script src="~/static/js/swiper.min.js"></script>
        <script src="~/static/js/popper.min.js"></script>
        <script src="~/static/js/modernizr.js"></script>
        <script src="~/static/js/jquery-migrate.js"></script>
        <script src="~/static/js/jquery-main.js"></script>
        <script src="~/static/js/isotope.pkgd.min.js"></script>
        <script src="~/static/js/ion.rangeSlider.min.js"></script>
        <script src="~/static/js/fancybox.min.js"></script>
        <script src="~/static/js/custom.js"></script>
        <script src="~/static/js/countdown.js"></script>
        <script src="~/static/js/bootstrap.min.js"></script>
    </div>









</body>
</html>
